# Dependencias
node_modules/

# Entorno
.env
.env.local
.env.*.local

# Build
dist/
dist-ssr/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor / OS
.vscode/*
!.vscode/extensions.json
.idea/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Diagnóstico (Vite 8)
*.local
